body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: xx-large;
}
label{
    font-weight: bold;
}

.hint{
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    font-style: italic;
    color: gray;
}
 
.warning {
    color: red;
    margin: 0;
}

.warning.mostrar {
    margin-bottom: 30px;
}

#resultado{
    color: red;
    font-size: larger;
}